* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Unbounded", sans-serif;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMoveUp 0.6s ease-out forwards;
}

@keyframes fadeInMoveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
h2 {
  text-align: center;
}



