footer {
  background-image: url("/background\ images/bgfooter.jpg");
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  background-size: cover;
  padding: 15px;
}
footer a {
  color: white;
}