.logo-marquee {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.logo-slide img {
  width: 80px;
  height: 40px;
  object-fit: contain;
  margin: 0 20px;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}